.ms_main{
    height: 500px;
    width: 1000px;
}

a{
    color: black;
    opacity: 0.5;
}

.ms_side{
    height: 500px;
}

img {
    height: 100%;
    width: 100%;
}

.ms_side img{
    height: calc(100% / 5);
}

.ms_maincontainer{
    width: 1000px;
}

/*
.ms_side img{
    opacity: 0.5;
}
 
img:hover {
    opacity: 1.0;
}
*/

.bi{
    font-size: 36px;
    opacity: 1;
}

.item{
    height: 100%;
    display: none;
}

.items{
    height: calc(100% / 5)
}

.items img{
    height: 100%;
}

.active{
    display: block;
}